.pokemon__article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    color: #fff;
}

.pokemon__info__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pokemon__info__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #0AC;
    padding: 0.5rem 1rem;
    border-radius: 30px 10px 30px 10px;
    box-shadow: aqua 0rem 0rem 0.5rem, aqua 0rem 0rem 1rem inset;
    height: 10vh;
    width: 10vw;
    margin-bottom: 1em;
 
}

.pokemon__info__title {
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
}

.pokemon__info__list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    color: #fff;
   
  
}

.pokemon__movies__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: max-content;
    height: 50%;

   

}

.pokemon__movies__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #0AC;
    padding: 0.5rem 3rem;
    border-radius: 30px 10px 30px 10px;
    box-shadow: aqua 0rem 0rem 0.5rem, aqua 0rem 0rem 1rem inset;
    width: 10vw;
    height: 12vh;
    margin-bottom: 1em;

}

.pokemon__movies__title {
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;

}

.pokemon__movies__list{
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    /* list-style: none; */
    padding: 0;
}


.pokemon__evolution__chain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #0AC;
    padding: 0.5rem 3rem;
    border-radius: 30px 10px 30px 10px;
    box-shadow: aqua 0rem 0rem 0.5rem, aqua 0rem 0rem 1rem inset;
    width: 10vw;
    height: 30vh;
    color: #fff;
}







