.search__section{
    margin: 6rem;
    color: white;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon__search__container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30vw;
    height: 5vh;
}

.pokemon__button__container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30vw;
    height: 5vh;
}

.search__field{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #0AC;
    padding: 0.5rem 3rem;
    border-radius: 30px 10px 30px 10px;
    box-shadow: aqua 0rem 0rem 0.5rem, aqua 0rem 0rem 1rem inset;
    width: 30vw;
    height: 5vh;
    font-size: 3em;
}

.pokemon__button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #0AC;
    padding: 0.5rem 3rem;
    border-radius: 30px 10px 30px 10px;
    box-shadow: aqua 0rem 0rem 0.5rem, aqua 0rem 0rem 1rem inset;
    width: 8vw;
    height: 5vh;
    font-size: 3em;
}